@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.bgGradient {
		background-color: black;
		background: linear-gradient(90deg, rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.3)),
			url("/assets/images/background-hero_p.webp") no-repeat center left fixed;
		background-size: cover;
	}

	@media screen and (orientation: landscape) {
		.bgGradient {
			background: linear-gradient(90deg, rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.3)),
				url("/assets/images/background-hero.webp") no-repeat center left fixed;
		}
	}

	.heroHeight {
		min-height: 100vh;
	}
}

@layer components {
	nav a {
		@apply relative mx-3 py-2 text-lg text-c-orange;
	}

	nav a.active::before,
	nav a::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #db8f00;
		transform: scaleX(0);
		transition: transform 0.3s ease;
	}

	nav a.active::before,
	nav a:hover::before {
		transform: scaleX(1);
	}
}
